<doctype html>
    
<title>Add Equipment - Python Flask MySQL CRUD</title>
<h2>Add Equipment</h2>

<form method="post" action="/add">
<dl>
    
<p>
<input name="name_equipment" value="" type="text" 
            placeholder="Name" autocomplete="off" required>
        </p>
<p>
<input name="type_equipment" value="" type="text" 
            placeholder="Type" autocomplete="off" required>
</p>
<p>
<input name="make_country" value="" type="text"
            placeholder="Make in country" autocomplete="off" required>
</p>
<p>
    <input name="price" value="" type="text"
                placeholder="price" autocomplete="off" required>
    </p>
    <p>
        <input name="purpose" value="" type="text"
                    placeholder="purpose" autocomplete="off" required>
        </p>
<p>
    <input name="trainer_name" value="" type="text"
                        placeholder="trainer_name" autocomplete="off" required>

</p>
<p>
    <input name="class_name" value="" type="text"
                placeholder="class_name" autocomplete="off" required>
    </p>
<p>
        <input name="room" value="" type="text"
                    placeholder="room" autocomplete="off" required>
</p>
<p>
        <input name="time_of_class" value="" type="text"
                        placeholder="time_of_class" autocomplete="off" required>
</p>
</dl>
<p>
<input type="submit" value="Submit">
</p>
</form>