<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>H4U GYM WEBSITE</title>
    <link rel="stylesheet" type="text/css" href="/static/classes.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav>
        <h2 class="logo"></h2>

        <ul>
          <a href="/"><li>Home</li></a>
          <li><a href="#workout">classes</a></li>
        </ul>
      </nav>
    </header>
    <section id="home" class="home view">
      <div class="highlights">
        <h1><b>ALL</b>POWER</h1>
        <br />
        <p class="tagline">
          Those are the available classes in our gym , wish you a healthy
          journy.
        </p>
      </div>
      <div class="banner">
        <a href="/static/img/class.jpg"></a>
      </div>
    </section>
    <section id="workout" class="workout view">
      <div class="main">
        <h2><span>C</span>lasses</h2>
        <h6>Start from here</h6>
      </div>
      <div class="content">
        <div class="frame">
          <div class="box">
            <img src="/static/img/boxing.jpg" alt="" />
          </div>

          <div class="title">BOXING CLASS</div>
          <p>
            This class is managed by kate and it's in room number 10. It starts
            from 5:35 AM until 9:00 AM.
          </p>
          <a href="#">Join</a>
        </div>

        <div class="frame">
          <div class="box">
            <img src="Orangetheory.jpg" alt="" />
          </div>

          <div class="title">ORANGETHEORY CLASS</div>
          <p>
            This class is managed by Clarison and it's in room number 3. It
            starts from 5:00 AM until 6:00 AM.
          </p>
          <a href="#">Join</a>
        </div>

        <div class="frame">
          <div class="box">
            <img src="Pilate.jpg" alt="" />
          </div>

          <div class="title">PILATE CLASS</div>
          <p>
            This class is managed by Sam and it's in room number 5. It starts
            from 7:00 PM until 9:00 PM.
          </p>
          <a href="#">Join</a>
        </div>

        <div class="frame">
          <div class="box">
            <img src="dance.jpg" alt="" />
          </div>

          <div class="title">DANCE CLASS</div>
          <p>
            This class is managed by Lorol and it's in room number 7. It starts
            from 5:00 PM until 8:00 PM.
          </p>
          <a href="#">Join</a>
        </div>

        <div class="frame">
          <div class="box">
            <img src="battleRopes.jpg" alt="" />
          </div>

          <div class="title">BATTLEROPES CLASS</div>
          <p>
            This class is managed by George and it's in room number 2. It starts
            from 3:00 PM until 5:00 PM.
          </p>
          <a href="#">Join</a>
        </div>

        <div class="frame">
          <div class="box">
            <img src="spin.jpg" alt="" />
          </div>

          <div class="title">SPIN CLASS</div>
          <p>
            This class is managed by Samantha and it's in room number 8. It
            starts from 10:00 AM until 1:00 PM.
          </p>
          <a href="#">Join</a>
        </div>
      </div>
    </section>
  </body>
</html>
